@font-face {
    font-family: 'Montserrat';
}

*{font-family: 'Montserrat';
    color:white;

}




.test-image {
    background-image: url('https://images.unsplash.com/photo-1583647515538-3f4f972971cd?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8RHVza3xlbnwwfHwwfHx8MA%3D%3D');
    background-size: cover;
    background-position: center;
    animation: chanfgeBackground 10s infinite;
} 




@keyframes chanfeBackground {
    0% {background-image: url('https://images.unsplash.com/photo-1583647515538-3f4f972971cd?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8RHVza3xlbnwwfHwwfHx8MA%3D%3D')}
    50% {background-image: url('https://images.unsplash.com/photo-1715192680487-6a6cf6919e6b?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxOHx8fGVufDB8fHx8fA%3D%3D');}
    100% {background-image: url('https://images.unsplash.com/photo-1714925298620-8103982a0c51?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzOHx8fGVufDB8fHx8fA%3D%3D');}


}

.gallery {
display: flex;
flex-wrap: wrap;
overflow-x: auto;
padding: 60px;
}

.item {
margin: 10px;
flex: 0 0 auto;
width: 300px;
color: white;
line-height: 25px;
}

.item img {
width: 100%;
height: 300px;
object-fit: cover;
object-position: center;
border-radius: 5px;
}

.navar {
    position: relative;
}

.navar ul {
    list-style-type: none;
    position:  absolute;
    right: 0;
}

.navar ul li {
    display:  inline;
    margin-right:50PX;

}